* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: #333;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.header a {
  float: left;
  color: cornflowerblue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 25px;
  border-radius: .5rem;
}

.header a:hover {
  background-color: #ddd;
  color: #0B2232;
}

.header a.active {
  background-color: CornflowerBlue;
  color: white;
}

.header-left {
  float: left;
}

canvas {
  display: block;
  margin: 1rem;
}

body {
  background: #222;
  color: #ABD2ED;
  font-size:  1rem;
  margin:  1rem;
}

p {
  text-align: left;
  hyphens: auto;
  margin:  .5rem 1rem;
}

h1 {
  text-align: left;
  font-size: 18px;
  font-weight:  600;
  margin: 1rem 1rem;
}

h2 {
  text-align: left;
  font-size: 14px;
}

.MathJax_Display {
  text-align: left !important;
}

ol, ul {
  font-size: 18px;
  font-weight: 600;
  background-color: #0B2232;
  outline-color: #206697;
  outline-width: 2px;
  border-radius: .5rem;
  max-width: 600px;
  margin: 1rem 0rem;
  margin-top: 1rem;
  padding-left:  2.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

ol li, ul li {
  padding: .3rem;
}

li a:visited {
  text-decoration: none;
  color: #ACD2ED;
}

li a:link {
  /* text-decoration: none; */
  color: #ACD2ED;
}

li a:hover {
  text-decoration: none;
  color: CornflowerBlue;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
    width: 30%;
  }
}

label {
  padding-left: .1rem;
  margin-right: 1rem;
}

.checkbox {
  width: 15px;
  height: 15px;
  padding-left: 5px;
  vertical-align: bottom;
  margin-right: .4rem;
}

.searchField {
  width: 80%;
  height: 2rem;
  background: FloralWhite;
  border-radius: 4px;
  margin: .3rem;
  font-size: 1.2rem;
  text-indent: .2rem;
}

.inputTable {
  width: 500px;
  padding-bottom: .5rem;
}

video {
  width: 80%;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .inputTable {
    width:  100%;
  }
}

table {
  margin: 1rem;
}

td:nth-child(2){
  margin-left:  0;
}
td:nth-child(4){
  margin-left:  .5rem;
}


td:nth-child(odd){
  width: 2rem;
}

button {
  background-color: cornflowerblue;
  border-radius: .5rem;
  border-color: #6495fd;
  padding:  .4rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
}

mjx-container {
  color: #ABD2ED;
}
